@media (min-width: 375px)and (max-width: 1127px) {


    .n_WalkTheDog {
        width: 280px;
        height: 80px;
        margin-top: 60px;
        margin-bottom: 20px;

    }



    .n_WalkTheDog img {
        width: 100%;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 70px;
    }
























}