@media only screen and (min-width: 1128px) {


    .n_WalkTheDogIMG1{
      background: url(/images/walkingservice/choice/WalkingServiceChoice_18.jpeg) center ;
      background-size: cover;
      width: 1350px;
      height: 520px;
      margin: 0 auto;
      margin-top: 150px;
      border-radius: 10px;
        

    }

   


}